.quiz-game {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.option {
  margin: 0 10px;
  padding: 10px;
  background-color: #E8E6E3;
  cursor: pointer;
}

.option.selected {
  background-color: #CB997E;
  color: white;
}
